:root {
  --user-message-color: #f9f9f9;
  --bot-message-color: white;
  --user-message-text-color: #000;
  --bot-message-text-color: #000;
}


html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100%;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.main-container {
  display: flex;
  height: calc(100% - 40px);
  overflow: hidden;
}

.history-container {
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.chat-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}